#uppernav{
  display: flex;
  border-bottom: 0.2px solid grey;
  justify-content:space-between;
  width: 100%;
  height: 40px;
  margin-top:-5px;
  font-size:14.5px;
  font-weight:400;
  font-family: 'Fira Sans',serif;
}
#leftnav{
  display: flex;
  width:600px;
  padding-top:9px;
  padding-left: 45px;
  justify-content:space-between;
  
}
#rightnav{
  display: flex;
  width:150px;
  padding-top:9px;
  padding-right: 30px;
  justify-content:space-between;
  
}
#iconuper{
  font-size:18px;
  color:#8ec038;
}

#cont{
  display: flex;
  justify-content: space-around;
  height:100px;
}
#link{
  display: flex;
  width:550px;
  justify-content:space-around;
  padding-top:25px;
  font-size:13px;
}

#imglogo{
  width:80px;
  height:41px;
  margin-top:25px;
}
#callbtn{
  height:48px;
  width:189px;
  border-radius:25px;
  background-color:#da2424;
  border: #da2424;
  font-size: 16px;
  margin-top:25px;
  color:white;
  font-weight:bold;
  font-family: 'Fira Sans'serif;
}
/* link > h3{
  color:black;
} */
#link > h3:hover{
  color:#8ec038;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 15%;
}
#healthcoching:hover
{
  color:#8ec038;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 15%;
}
#healthcoching{
  color:black;
  text-decoration: none;
}
#homecss:hover
{
  color:#8ec038;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 15%;
}
#homecss{
  color:black;
  text-decoration: none;
}

.droph3 {
  border: none;
  cursor: pointer;
}
.droph3:hover {
  border: none;
  cursor: pointer;
  color: #8ec038;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  border-radius:20px;
  margin-left: -65px;
  margin-top: 20px;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
  margin-left: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover{
  margin: auto;
  color: white;
  background-color:#8ec038;
  border-radius:20px;
  width:190px;
}

.dropdown-content a:last-child{
    margin-bottom:20px;
}
body{
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Fira Sans Condensed', sans-serif; */
}
#scrollbar{
    background-size: cover;
    background:linear-gradient(rgba(14, 13, 13, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.fitmeals.co.in/wp-content/uploads/2021/06/jennahazelphotography-brownie-bites-well-vegan-0627@2x-2.jpg);
    background-attachment: fixed;
    /* background-color: var(--black); */
    height: 370px;
    text-align: center;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 0px;
    background-size: cover;
     border: 0 none;  
     opacity: 0.9;
     filter: brightness(30%);
     filter: drop-shadow(16px 16px 20px black);       
    filter: contrast(90%) 
}

#info {
    margin-top: -27px;
    background-color:grey;
    text-align: center;
    justify-content:space-around;
}
#article{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color:grey;
    justify-content:space-around;
}

#para{
    margin-top:-40px;
    font-family:'open sans'sans-serif;
    font-style: italic;
    font-size: 18px;
}

#head1{
    color:#8ec038;
    font-size:100px;
    margin-top:-15px;
}

#image{
    width: 200px;
    height:200px;
    border-radius:50%;
    border:5px solid white;
}

#modal{
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top:-33px;
    background-color:#f3f5ed;
    height: 500px
    
}

#modal > h1{
    padding-top:100px;
}
#gr{
    margin:auto;
    width:95%;
    height:210px;
    border-radius:20px;
    border: 2px solid #8ec038;
}

#head2{
    font-family: 'Fira Sans', sans-serif;
    font-size:40px;
    font-weight: bold;
    padding-top:100px;
    padding-bottom: 50px;
}

#ptag{
    font-family: 'Open Sans', sans-serif;
    color:#f3f5ed;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}
#head{
    font-family: 'Sacramento', cursive;
    color:#292d35;
    font-size:40px;
    padding-top:50px;
    font-weight:lighter;
}
@media only screen and (min-width: 454px) and (max-width:872px) {
    #article{
        height:600px;
    }
    #modal{
        height:600px;
    }
 }
 @media only screen and (min-width:50px) and (max-width:453px) {
    #article{
        height:1200px;
    }
    #gr{
        height:370px;
    }
    #modal{
        height:700px;
    }
 }


 #container1{
    margin-top:50px;
    display: flex;
    background-color: #282834;
    height: 500px;
    justify-content:space-around;
    font-family: "Fira Sans",serif; 
  }
  
  #container1>div{
    margin-top: 70px;
    width: 200px;
    justify-content: center; 
  }
  
  #desc{
    color:white;
    cursor: pointer;
    width: 120px;
  }
  #dispicon{
    color: #8ec038;
    cursor: pointer;
    font-size:12px;
  }
  #dispicon1{
    font-size:10px;
  }
  #dispicon1:hover{
    color: #8ec038;
  }
  
  #text{
    color: #ffffffa6;
    font-family: 'Open sans',sans-serif;
    font-size:14px;
    margin-top:30px;
    margin-bottom: 40px;
    text-align:left;
  }
  #imgtrio{
    
    width: 150px;
    display: flex;
    justify-content:space-around;
  }
  #imgtrio > i{
    font-size:25px;
    color:#8ec038;
    
  }
  
  #footlogo{
    width: 150px;
    height:76px;
  }
  
  #contact{
    color:white;
  }
  
  #log{
    color:#8ec038;
  }
  
  #foot > h5{
    font-size:12px;
    color:white;
    margin-top:6px;
    padding-left: 20px;
  }
  
  #expl{
    color:#8ec038;
  }
  .green{
    color:#8ec038;
  }